@model acebook.Models.Friendship
@using acebook.Models

@{
    ViewData["Title"] = "Friendship Page";
}

<div class="text-center">
    <h1>Your Acebook Friendships</h1>

    <a class="friend-request-button" href="@Url.Action("SendFriendRequest", "Friendships")" class="btn btn-primary">Add a Friend</a>

    <h2>Requests:</h2>
    @foreach (var friendship in ViewBag.CurrentUsersFriendships)
    {
        <div> You have a request from: @friendship.User1.Name </div>

    <form action="@Url.Action("AcceptRequest", "Friendships")" method="post">
        <input type="hidden" name="requesterId" value="@friendship.User1Id" />
        <button class="friend-request-button" type="submit">Accept</button>
    </form>

    <form action="@Url.Action("RejectRequest", "Friendships")" method="post">
        <input type="hidden" name="requesterId" value="@friendship.User1Id" />
        <button class="friend-request-button" type="submit">Reject</button>
    </form>
    }

    <h2> Your Friends:</h2>
    @foreach (var friendship in ViewBag.CurrentUsersAcceptedFriendships)
    {
        var friend = friendship.User1Id == ViewBag.CurrentUser.Id ? friendship.User2 : friendship.User1;
        <div> Your Friend: @friend.Name </div>
        <form action="@Url.Action("RemoveFriend", "Friendships")" method="post">
            <input type="hidden" name="friendId" value="@friend.Id" />
            <button class="friend-request-button" type="submit">Remove</button>
        </form>
    }
</div>